* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .container {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
  
  
  
  .main {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    padding: 30px;
  }
  
  